<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by Hexo Theme MiHo &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      </p>
    </div>
  </div>
</footer>